{% extends "basic/layout.html.twig" %}

{% block content %}

<div class="container">
  <div class="row">

    <h2 class="uppercase"><strong> <i class="icon-briefcase"></i>API</strong></h2>
    <div class="row">

      <div class="col-sm-12">
      </div>

    </div>
  </div>
</div>
{% endblock %}
