<script>
  document.addEventListener('DOMContentLoaded', function() {
    var createVideoGrid = document.querySelector('#create-video ul');
    var items = document.querySelectorAll('#assets-to-choose .item');
    var advancedOptions = document.querySelector('#advanced');

    // Toggle advanced
    advancedOptions.addEventListener('click', function() {
      createVideoGrid.classList.toggle('show-config');
    });

    function onRemoveItem(event) {
      var itemRemoved = false;
      var removingItem = event.target.closest('li');
      Array.from(createVideoGrid.children).forEach(function(item) {
        console.log(item, removingItem);
        if(item === removingItem) {
          createVideoGrid.removeChild(removingItem);
        } else if (itemRemoved) {
          var nextItem = item.querySelector('.order');
          var currentIndex = nextItem.innerHTML;
          nextItem.innerHTML = currentIndex - 1;
        }
      });
    }

    function createEl (el) {
      return document.createElement(el);
    }

    // Create the main element with the specific data
    function createElementStructure (item) {
      var li = createEl('li');
      var img = createEl('img');
      var order = createEl('span');
      var orderNumber = createEl('span');
      var container = createEl('div');
      var removeItem = createEl('span');

      // Add data
      li.setAttribute('data', "mediaURL: '"+ item.mediaURL +"', image: '"+ item.image +"'");
      img.src = item.image;
      orderNumber.innerHTML = item.order;
      removeItem.innerHTML = 'x';

      // Add classes
      li.className = 'col-sm-3';
      container.className = 'content';
      img.className = 'img-thumbnail img-responsive';
      orderNumber.className = 'order';
      removeItem.className = 'remove-item';

      // Put elements together
      order.append(orderNumber, removeItem);
      container.append(img, order);
      li.append(container);

      li.addEventListener('click', onRemoveItem);

      return li;
    }

    // Create the configuration inputs for te element
    function createConfigElements () {
      var container = createEl('div');
      var duration = createEl('input');
      var delay = createEl('input');

      // Add classes
      container.className = 'config';
      duration.className = 'duration';
      delay.className = 'delay';

      // Placeholders
      duration.placeholder = 'Duration';
      delay.placeholder = 'Espera';

      container.append(delay, duration);

      return container;
    }

    Array.from(items).forEach(function(item) {
      item.addEventListener('click', function() {
        var data = {
          mediaURL: item.getAttribute('data-media-url'),
          image: item.getAttribute('data-image'),
          order: createVideoGrid.children.length + 1
        };

        var element = createElementStructure(data);
        element.append(createConfigElements());

        // Inject to the list
        createVideoGrid.append(element);
      });
    });
  });
</script>

<h3>Video <span class="pull-right" id="advanced">Advanced</span></h3>
<div id="create-video">
  <ul></ul>
</div>

