<script>
  document.addEventListener('DOMContentLoaded', function() {
    var createVideoGrid = document.querySelector('#create-video ul');
    var items = document.querySelectorAll('#assets-to-choose .item');

    function createEl (el) {
      return document.createElement(el);
    }

    // Create the main element with the specific data
    function createElementStructure (item) {
      var li = createEl('li');
      var img = createEl('img');
      var order = createEl('span');
      var orderNumber = createEl('span');
      var container = createEl('div');

      // Add data
      li.setAttribute('data', "mediaURL: '"+ item.mediaURL +"', image: '"+ item.image +"'");
      img.src = item.image;
      orderNumber.innerHTML = item.order;

      // Add classes
      container.className = 'content';
      li.className = 'col-sm-2';
      img.className = 'img-thumbnail img-responsive';
      orderNumber.className = 'order';

      // Put elements together
      order.append(orderNumber);
      container.append(img, order);
      li.append(container);

      return li;
    }

    // Create the configuration inputs for te element
    function createConfigElements () {
      var container = createEl('div');
      var duration = createEl('input');
      var delay = createEl('input');

      // Add classes
      container.className = 'config';
      duration.className = 'duration';
      delay.className = 'delay';

      // Placeholders
      duration.placeholder = 'Duration';
      delay.placeholder = 'Delay';

      container.append(duration, delay);

      return container;
    }

    Array.from(items).forEach(function(item) {
      item.addEventListener('click', function() {
        var data = {
          mediaURL: item.getAttribute('data-media-url'),
          image: item.getAttribute('data-image'),
          order: createVideoGrid.children.length + 1
        };

        var element = createElementStructure(data);
        element.append(createConfigElements());

        // Inject to the list
        createVideoGrid.append(element);
      });
    });
  });
</script>

<h3>Video</h3>
<div id="create-video" class="row">
  <ul></ul>
</div>

