{% extends "basic/layout.html.twig" %}

{% block content %}
    <div class="main-content assets-content">
        <div class="assets">
            <div class="packery-container row">
                {% for video in videos %}
                    <article class="result-item col-sm-4">
                      <a href="/video/{{ video.id }}">
                        <img class="img-responsive"
                             src="{{ '/assets/img/default-video-thumb.jpg' }}"
                             alt="{{ video.name }}"
                        >
                        <p>{{ video.name }}</p>
                      </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
