{% if is_ajax == false %}
    {% extends "basic/layout.html.twig" %}
    {% block title %}{% endblock %}
    {% block description %}{% endblock %}
{% endif %}

{% block content %}
    <div class="main-content assets-content">
        <div class="assets">
            <div class="packery-container row">
                {% for video in videos %}
                  {{ video }}
                    <article class="result-item col-sm-4">
                      <a href="/video/{{ video.id }}">
                        <p>{{ video.name }}</p>
                      </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block before_head_end %}
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/start/jquery-ui.css"/>
{% endblock %}
