{% extends "basic/layout.html.twig" %}

{% block content %}
    <div class="main-content assets-content" id="results-page">
      <h1>Videos</h1>
        <div>
          <div class="packery-container row">
            {% for video in videos %}
              <article class="result-item col-sm-4">
                <div class="article-content text-center">
                  <video width="400" controls>
                    <source src="{{ video.links.url }}" type="video/mp4">
                  </video>
                  <img class="img-responsive"
                       src="{{ '/assets/img/default-video-image.png' }}"
                       alt="{{ video.name }}"
                  >
                  <h5>{{ video.name }}</h5>
                </div>
              </article>
            {% endfor %}
          </div>
        </div>
    </div>
{% endblock %}
