#create-video {
  ul {
    padding: 0;

    &.show-config {
      .config {
        display: block;
      }
    }
  }
  li {
    list-style-type: none;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0;

    &[data-type="audio"] {
      .text-duration,
      .object-text {
        visibility: hidden;
      }
    }

    img {
      height: 200px;
      min-width: 100%;
      -o-object-fit: cover;
      object-fit: cover;

      @media (max-width: 600px) {
        height: 100px;
      }
    }

    &:first-child {
      .config .delay {
        display: none;
      }
    }

    .content {
      position: relative;
      cursor: pointer;

      .remove-item {
        display: none;
        color: #ea3131;
        text-shadow: none;
      }

      &:hover {
        .remove-item {
          display: block;
        }

        .order {
          display: none;
        }
      }

      & > span {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.53);
        vertical-align: middle;
        font-size: 37px;
        font-weight: bold;
        text-shadow: 1px 1px 2px white;

        .order, .remove-item {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }
      }
    }

    .config {
      display: none;
      padding: 5px;

      input {
        padding: 2px 5px;
        float: left;
        margin-bottom: 5px;
        width: 100%;
      }
    }
  }
}

#advanced {
  font-size: 13px;
  cursor: pointer;
}

#assets-to-choose .item {
  .add-overlay {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.53);
    vertical-align: middle;
    font-size: 37px;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;

    span {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
}

#assets-to-choose .item-thumb-container {
  position: relative;

  img {
    height: 200px;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .item-type {
    position: absolute;
    top: 100%;
    left: 5px;
    background: #5ac0de;
    padding: 5px;
    margin-top: -29px;
    color: white;
    border-radius: 0 3px 0 0;
  }

  &:hover {
     position: relative;

     .add-overlay {
       display: block;
     }
   }
}

#pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.3);
  font-weight: bold;

  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    box-shadow: 0 0 18px black;
    border-radius: 3px;
    text-align: center;
  }
}

