#create-video {
  ul {
    padding: 0;

    &.show-config {
      .config {
        display: block;
      }
    }
  }
  li {
    list-style-type: none;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0;

    .content {
      position: relative;
      cursor: pointer;

      .remove-item {
        display: none;
        color: #ea3131;
        text-shadow: none;
      }

      &:hover {
        .remove-item {
          display: block;
        }

        .order {
          display: none;
        }
      }

      & > span {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.53);
        vertical-align: middle;
        font-size: 37px;
        font-weight: bold;
        text-shadow: 1px 1px 2px white;

        .order, .remove-item {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }
      }
    }

    .config {
      display: none;
      padding: 5px;

      input {
        padding: 2px 5px;
        float: left;
        margin-bottom: 5px;
        width: 100%;
      }
    }
  }
}

#advanced {
  font-size: 13px;
  cursor: pointer;
}
