#results-page {
  h1 {
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
  }
  .result-item .article-content {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 2px;

    video {
      width: 100%;
      padding: 4px;
      display: block;
    }

    .video-status {
      position: relative;
      padding: 4px;

      .status-code {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
      }
    }

    h5 {
      padding: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #333;
      font-weight: normal;
    }
  }
}
