#results-page {
  h1 {
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
  }
  .result-item div {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 2px;

    video {
      width: 100%;
    }

    h5 {
      padding: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #333;
      font-weight: normal;
    }
  }
}
